html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.SideBar {
    background-color: gray;
    opacity: 0.5;
    height: 100vh;
    width: 30%;
}

.MainPage {
    height: 100vh;
    width: 70%;
}